.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid mintcream;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: blueviolet;
    color: blueviolet;
}